// Import external libraries.
@import "compass";
@import "breakpoint";
@import "singularitygs";
@import "toolkit";
// Import variables, abstractions, base styles and components.
// Uncomment the next lines and adjust them to your needs.
@import "variables/_grid.scss";
@import "components/_homepage.scss";

.l-page {
  max-width: 960px;
  margin: 0 auto;
}
.l-content {
  @include grid-span(12,1);
  border: 1px solid #eee;
}
.l-branding {
  @include grid-span(2,1);
}
.l-region--header {
  @include grid-span(10,3);
}
.l-header {
  background-color: #f5f5f5;
  overflow: hidden;
  margin: 10px 0;
  padding: 10px;
}
.l-header,
.l-footer {
  clear:both;
}